/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ec5c5c;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.team-roster {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilos para los jugadores */
.player {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.player img {
    max-width: 100%;
    border-radius: 50%;
}

.player h2 {
    margin: 10px 0;
}

/* Estilos para las imágenes de los jugadores */
.player img {
    max-width: 100%;
    border-radius: 50%;
}
